<div class="accounts-container">
	<div class="row">
		<aside class="col menus">
			<section class="accounts">
				<h3>My Accounts</h3>
				<ul class="accounts-menu">
					<li><a href="/accounts" title="Dashboard" data-model="myDashboard">Account Dashboard</a></li>
					<li><a href="javascript:void(0);" title="Information" data-model="myAccounts">Account Information</a></li>
					<li><a href="javascript:void(0);" title="Address" data-model="myAddress">Account Address</a></li>
					<li><a href="javascript:void(0);" title="Orders" data-model="myOrders">My Orders</a></li>
					<li><a href="javascript:void(0);" title="Wihlists" data-model="myWishlists">My Wihlists</a></li>
					<li><a href="javascript:void(0);" title="Subscriptions" data-model="mySubscription">My Subscriptions</a></li>
				</ul>
			</section>
		</aside>
		<aside class="col">
			<h2>My Dashboard</h2>
			<p>Hello {{loggedUser.name}}, <br/> From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to vire or edit information.</p>

			<div ui-view="orderDetails" ng-if="myOrders"></div>

			<div ui-view="addressInfo" ng-if="myAddress"></div>

			<div class="subscriptionInfo" ng-if="mySubscription">
				<h3>Subscription Information</h3>
			</div>
		</aside>
	</div>
</div>