<div class="default recent-orders">
    <h3>Recent Orders</h3>
    <ul>
        <li>
            <span class="orderid">Order #</span>
            <span class="orderdate">Date</span>
            <span class="ordershipping">Ships To</span>
            <span class="ordertotal">Order Total</span>
            <span class="orderstatus">Status</span>
            <span class="payment">Transaction</span>
            <span class="ordercontrol">Action</span>
        </li>
        <li ng-repeat="(key, val) in orderList" class="item cart-page {{val.orderState | lowercase}}">
            <span class="orderid">{{val.webOrderNumber}}</span>
            <span class="orderdate"><i class="fa fa-clock-o" aria-hidden="true"></i> {{val.orderDateConverted}}</span>
            <span class="ordershipping"><i class="fa fa-map-marker" aria-hidden="true"></i> {{val.address.city}}</span>
            <span class="ordertotal">{{val.currency.currencySymbol}}&nbsp;{{val.total}}</span>
            <span class="orderstatus">{{val.orderState | lowercase}}</span>
            <span class="payment" ng-class="{'failed': val.transactionStatus == 'failure'}">
                <button title="Pay Here" class="button paybutton" ng-if="val.transactionStatus == 'failure'" ng-click="submitPayment(key);">Pay Now</button>
                <form id="paymentForm-{{key}}" ng-if="val.transactionStatus == 'failure'" method="post">
                    <input type="hidden" name="address1" value="{{val.address.addressLine1}}">
                    <input type="hidden" name="address2" value="{{val.address.addressLine2}}">
                    <input type="hidden" name="amount" value="{{val.total}}">
                    <input type="hidden" name="base_url" value="{{val.base_url}}">
                    <input type="hidden" name="city" value="{{val.address.city}}">
                    <input type="hidden" name="country" value="">
                    <input type="hidden" name="curl" value="">
                    <input type="hidden" name="email" value="{{val.emailId}}">
                    <input type="hidden" name="firstname" value="{{val.address.firstName}}">
                    <input type="hidden" name="furl" value="https://www.haastika.com/HaastikaDataService/order/thankyou">
                    <input type="hidden" name="hash" value="{{val.hash}}">
                    <input type="hidden" name="key" value="{{val.key}}">
                    <input type="hidden" name="lastname" value="{{val.address.lastName}}">
                    <input type="hidden" name="pg" value="">
                    <input type="hidden" name="phone" value="{{val.address.phone}}">
                    <input type="hidden" name="productinfo" value="{{val.webOrderNumber}}">
                    <input type="hidden" name="state" value="{{val.address.state}}">
                    <input type="hidden" name="surl" value="https://www.haastika.com/HaastikaDataService/order/thankyou">
                    <input type="hidden" name="txnid" value="{{val.webOrderNumber}}">
                    <input type="hidden" name="udf1" value="">
                    <input type="hidden" name="udf2" value="">
                    <input type="hidden" name="udf3" value="">
                    <input type="hidden" name="udf4" value="">
                    <input type="hidden" name="udf5" value="">
                    <input type="hidden" name="udf6" value="">
                    <input type="hidden" name="udf7" value="">
                    <input type="hidden" name="udf8" value="">
                    <input type="hidden" name="udf9" value="">
                    <input type="hidden" name="udf10" value="">
                    <input type="hidden" name="service_provider" value="payu_paisa">
                    <input type="hidden" name="zipcode" value="{{val.address.zip}}">
                </form>
                <span class="label label-success" ng-if="val.transactionStatus == 'success'">Success</span>
                <span class="label label-info" ng-if="val.transactionStatus == 'pending'">Pending</span>
            </span>
            <span class="ordercontrol">
                <a href="javascript:void(0);" data-orderid="{{val.webOrderNumber}}" ng-click="viewOrder($event);">view</a> / 
                <a href="javascript:void(0);" data-orderid="{{val.webOrderNumber}}" ng-click="cancelOrder($event);">close</a>
            </span>
            <div class="orderLookupList orderDetailsVisible-{{val.webOrderNumber}}">
                <div class="wrapper">
                    <ul class="status">
                        <li ng-class="{'complete': orderLookupData.orderState === 'CREATED'}">
                            <span><i class="tick"/> Order Created</span>
                        </li>
                        <li ng-class="{'complete': orderLookupData.orderState === 'BEING_PROCESSED'}">
                            <span><i class="tick"/> Order Reviewed</span>
                        </li>
                        <li ng-class="{'complete': orderLookupData.orderState === 'SHIPPED'}">
                            <span><i class="tick"/> Shipping Initiated</span>
                        </li>
                        <li ng-class="{'complete': orderLookupData.orderState === '
                        '}">
                            <span><i class="tick"/> Delivered</span>
                        </li>
                    </ul>
                    <ul class="list-items" ng-hide="orderLookupData.lineItems.length === 0">
                        <li ng-repeat="(key, value) in orderLookupData.lineItems" class="item" data-index="{{key}}">
                            <div class="item-details">
                                <figure>
                                    <img ng-src="{{value.productImage.baseImagePath}}" alt="OrderItemImage{{key}}" />
                                </figure>
                                <div class="part-details">
                                    <h3>{{value.productName}}</h3>
                                    <div class="alignRight">
                                        <span><i class="fa fa-{{orderLookupData.currency.currencyCode | lowercase}}"></i> {{value.unitPrice}}</span>
                                        <span>* {{value.quantity}}</span>
                                    </div>
                                </div>
                                <div class="part-desciption">
                                    <p>{{value.productId}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div ng-if="orderLookupData.lineItems.length === 0" class="empty-cart">
                        <h2>No items added in your cart !!!</h2>
                    </div>
                    <div class="order-tracking" ng-if="val.orderState === 'SHIPPED'">
                        <h4>Tracking Information</h4>
                        <p>Please find your order tracking details from the below Service Company</p>
                        <span>Tracking ID : {{val.trackId || 'not updated'}}</span> </br>
                        <span>Tracking Link: {{val.trackLink || 'not available'}}</span> 
                    </div>
                    <div class="order-delivery" ng-hide="orderLookupData.lineItems.length === 0">
                        <div class="order-address order-section">
                            <h4>Shipping To:</h4>
                            <p>
                                <span>{{orderLookupData.address.firstName}} {{orderLookupData.address.lastName}}</span></br>
                                <span>{{orderLookupData.address.addressLine1}}</span>, <span>{{orderLookupData.address.addressLine2}}</span></br>
                                <span>Phone: {{orderLookupData.address.phone}}</span></br>
                                <span>{{orderLookupData.address.city}}</span>, <span>{{orderLookupData.address.state}} - {{orderLookupData.address.zip}}</span>
                            </p>
                        </div>
                        <div class="cart-summary">
                            <div class="cart-total">
                                <label>Cart Total: </label>
                                <span><i class="fa fa-{{orderLookupData.currency.currencyCode | lowercase}}"></i> {{orderLookupData.subTotal}}</span>
                            </div>
                            <div class="shipping-charges">
                                <label>Shipping Charges: </label> <span><i class="fa fa-{{orderLookupData.currency.currencyCode | lowercase}}"></i> {{orderLookupData.deliveryCharge | number:2}}</span>
                            </div>
                            <div class="tax">
                                <label>Tax Estimated : </label> <span><i class="fa fa-{{orderLookupData.currency.currencyCode | lowercase}}"></i> {{orderLookupData.tax | number:2}}</span>
                            </div>
                            <div class="discount">
                                <label>Discount Eligible: </label> <span><i class="fa fa-{{orderLookupData.currency.currencyCode | lowercase}}"></i> {{orderLookupData.discount | number:2}}</span>
                            </div>
                            <div class="costToCheckout">
                                <label>Sub Total: </label> <span><i class="fa fa-{{orderLookupData.currency.currencyCode | lowercase}}"></i> {{orderLookupData.total | number:2}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>