<div class="container thankyou">
	<div class="row columns">
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
		<form name="loginForm">
			<div class="form-group">
				<label for="firstName">First name</label>
				<input type="text" name="emailId" id="emailId" class="form-control" placeholder="Email Id" ng-model="co.user.emailId" required />
				<p class="help-block">You name is required.</p>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="co.user.password" required />
				<p class="help-block">Enter a valid email.</p>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary" ng-click="checkoutLogin()">Sign In</button>
			</div>
		</form>
	</div>
</div>