<!-- HEADER -->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <a href="/"><img alt="" src="assets/images/logo.png"></a>
                    </div>
                </div>
                <div class="col-md-8 right">
                    <p class="order-info"><span>Order by Phone:</span> +91 9439186864 or +91 6742355456,  Monday - Saturday 9AM to 6PM IST</p>
                    <div class="social-strip">
                        <ul>
                            <li>
                                <a href="#/aboutus"><i class="fa fa-home"></i> About Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="orderByPhone"><i class="fa fa-phone"></i> Call Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <sticky-menu>
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="/"><img alt="" src="assets/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="col-md-8 noPadding">
                        <nav class="desktop-nav">
                            <ul class="clearfix">
                                <li ng-repeat="(key, value) in navigation">
                                    <a href="{{value.categoryDetailsURL}}">{{value.categoryName}}</a>
                                    <div class="sub-menu {{value.navClass}}" ng-if="value.subcategoryList">
                                        <figure ng-if="value.categoryImagePath">
                                            <img ng-src="{{value.categoryImagePath}}" alt="Description" />
                                        </figure>
                                        <ul class="clearfix">
                                            <li class="clearfix">
                                                <div class="links">
                                                    <h3>{{value.categoryName}}</h3>
                                                    <a ng-repeat="(innerKey, innerValue) in value.subcategoryList" href="javascript:void(0);">{{innerValue.categoryName}}</a> 
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Download Catalog</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-2 noPadding">
                        <div class="social-strip">
                            <ul>
                                <li>
                                    <a href="#/aboutus"><i class="fa fa-home"></i>About Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="orderByPhone"><i class="fa fa-phone"></i>Call Us
                                    <div class="more">
                                        <h3>Order by Phone</h3>
                                        <span>
                                            <span><i class="fa fa-phone"></i> (office) : +91 6742355456 </span>
                                            <span><i class="fa fa-phone"></i> (Mobile) : +91 9439186864 </span>
                                            <span><i class="fa fa-reply"></i> info@haastika.com</span>
                                            <span><i class="fa fa-calendar-check-o"></i> Mon - Sat 9AM to 6PM</span>
                                        </span>
                                    </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sticky-menu> 
</header>
