<!-- Content -->
<div class="details clearfix detailsPage">
	<div class="container row">
		<div class="col span_6_of_12 noPadding">
			<div class="product-gallery">
				<div class="span_3_of_12 col noPadding zoomable">
					<ul>
						<li ng-repeat="(key, value) in data.details.imageGallery" class="zoomable thumbs">
							<a href="{{value.large.src}}" data-large= "{{value.extraLarge.src}}" data-title="Title 1">
								<img ng-src="{{value.thumb.src}}" width="100%" />
							</a>
						</li>
					</ul>
				</div>
				<div class="span_9_of_12 col noPadding">
					<span class="magnify-text"><i class="fa fa-search-plus" aria-hidden="true"></i> Hover to Zoom</span>
					<figure>
						<div class="targetarea diffheight">
							<img id="zoomable" alt="zoomable" title="" ng-src="{{data.details.productImage}}"/>
						</div>
					</figure>
				</div>
			</div>
		</div>
		<div class="col span_6_of_12 noPadding">
			<div class="product-details">
				<div class="title">
					<span class="product-id">{{data.details.productID}}</span>
					<h2>{{data.details.productName}}</h2>
					<span class="soldby"></span>
					<p class="rating">{{data.details.averageProductRating}}</p>
					<div class="ratingBG">
						<span class="ratingOverlay" style="width: {{data.details.averageProductRating/5*100}}%"></span>
					</div>
				</div>
				<h3 class="price">
					<i class="fa fa-{{data.details.productCurrency | lowercase}}"></i>
					<span>{{data.details.productPrice}}</span>
				</h3>
				<p class="available">{{data.details.productAvailablility}}</p>
				<div class="description" ng-if="data.details.productDescription">
					<p>Desciption: </p>
					<div ng-bind-html="getHtml(htmlDescription)"></div>
				</div>
			</div>
			<div class="callDetails">
				<i class="fa fa-cart-plus" aria-hidden="true"></i> <h5>Order by Phone</h5>
				<span>Cell: +91 9439186864</span>
				<span>Offc: +91 6742355456</span>
			</div>
		</div>
	</div>
</div>
<!-- CATEGORIES -->
<div class="categories-wrap">
    <div class="container">
        <div class="row">
            <div class="col span_4_of_12">
                <div class="categories">
                    <figure>
                        <div class="cate-overlay">
                            <a href="javascript:void(0);">Clothing</a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col span_4_of_12">
                <div class="categories">
                    <figure>
                        <div class="cate-overlay">
                            <a href="javascript:void(0);">Bamboo &amp; Cane</a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col span_4_of_12">
                <div class="categories">
                    <figure>
                        <div class="cate-overlay">
                            <a href="javascript:void(0);">Bags</a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div><!-- CATEGORIES -->

<script type="text/javascript">
$(document).ready(function(e) {

    $ = jQuery;

    // debugger;
    setTimeout(function() { 
    	$('#zoomable').addimagezoom({ rootElement: '.detailsPage'});
    }, 1000);
    


});
</script>