<div class="address-form">
	<div class="row columns">
		<aside class="col">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" class="form-control" placeholder="Name" ng-model="co.address.name" required />
			</div>
			<div class="form-group">
				<label for="houseNumber">Flat / House / Floor / Building</label>
				<input type="text" name="houseNumber" id="houseNumber" class="form-control" placeholder="First Name" ng-model="co.address.houseNumber" required />
			</div>
			<div class="form-group">
				<label for="street">Colony / Street / Locality</label>
				<input type="text" name="street" id="street" class="form-control" placeholder="Street Name" ng-model="co.address.street" required />
			</div>
			<div class="form-group">
				<label for="landmark">Landmark</label>
				<input type="text" name="landmark" id="landmark" class="form-control" placeholder="Landmark" ng-model="co.address.landmark" required />
			</div>
			<div class="form-group">
				<label for="phone">Phone Number</label>
				<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone Number" ng-model="co.address.phone" required />
			</div>
		</aside>
		<aside class="col">
			<div class="form-group">
				<label for="pin">PIN Code</label>
				<input type="text" name="pin" id="pin" class="form-control" placeholder="PIN Code" ng-model="co.user.pin" required ng-keyup="getCityState($event)" />
			</div>
			<div class="form-group">
				<label for="city">City</label>
				<input type="text" name="city" id="city" class="form-control" placeholder="City" ng-model="co.user.city" required />
			</div>
			<div class="form-group">
				<label for="state">State</label>
				<input type="text" name="state" id="state" class="form-control" placeholder="State" ng-model="co.user.state" required />
			</div>
		</aside>
	</div>

	<p class="info">Order confirmation will be sent to the contact details below.</p>

	<div class="form-group">
		<label for="email">Email</label>
		<input type="text" name="email" id="email" class="form-control" placeholder="Email" ng-model="co.user.emailId" required />
	</div>
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" class="form-control" placeholder="Name" ng-model="co.user.firstName" required />
	</div>
	<div class="form-group">
		<label for="cell">Phone</label>
		<input type="text" name="cell" id="cell" class="form-control" placeholder="Cell" ng-model="co.user.cell" required />
	</div>

	<div class="form-actions">
		<button type="submit" ng-click="proceedTo($event, 'order')" class="btn btn-primary">
			<span>Proceed to Order Summary</span>
		</button>
	</div>
</div>
