<a href="javascript:void(0);" class="editAddress" ng-show="hasAddress" ng-click="toggleAddressForm($event);">Add New Address</a>
<a href="javascript:void(0);" class="editAddress" ng-hide="hasAddress" ng-click="toggleAddressForm($event);">Select Address</a>
            
<div class="address-form" ng-hide="hasAddress">
	<form name="addressForm" novalidate>
		<div class="row columns">
			<aside class="col-lg-5">
				<div class="form-group">
					<label for="name">First Name</label>
					<input type="text" name="name" id="name" class="form-control half" placeholder="First Name" ng-model="co.address.firstName" required />
					<p class="help-block" ng-show="addressForm.name.$invalid && !addressForm.name.$pristine">Enter your first name.</p>

					<label for="lastname">Last Name</label>
					<input type="text" name="lastname" id="lastname" class="form-control half" placeholder="Last Name" ng-model="co.address.lastName" required />
					<p class="help-block" ng-show="addressForm.lastname.$invalid && !addressForm.lastname.$pristine">Enter your last name.</p>
				</div>
				<div class="form-group">
					<label for="addressLine1">Flat / House / Floor / Building</label>
					<input type="text" name="addressLine1" id="addressLine1" class="form-control" placeholder="Flat / House / Floor / Building" ng-model="co.address.addressLine1" required />
					<p class="help-block" ng-show="addressForm.addressLine1.$invalid && !addressForm.addressLine1.$pristine">House Number.</p>
				</div>
				<div class="form-group">
					<label for="addressLine2">Colony / Street / Locality</label>
					<input type="text" name="addressLine2" id="addressLine2" class="form-control" placeholder="Colony / Street / Locality" ng-model="co.address.addressLine2" required />
					<p class="help-block" ng-show="addressForm.addressLine2.$invalid && !addressForm.addressLine2.$pristine">Street name.</p>
				</div>
				<div class="form-group">
					<label for="landmark">Landmark</label>
					<input type="text" name="landmark" id="landmark" class="form-control" placeholder="Landmark" ng-model="co.address.landmark" required />
				</div>
				<div class="form-group">
					<label for="phone">Phone Number</label>
					<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone Number" ng-model="co.address.phone" required />
					<p class="help-block" ng-show="addressForm.phone.$invalid && !addressForm.phone.$pristine">Enter your phone number.</p>
				</div>
			</aside>
			<aside class="col-lg-6 col-md-offset-1">
				<div class="form-group">
					<label for="zip">PIN Code</label>
					<input type="text" name="zip" id="zip" class="form-control" placeholder="Zip Code" ng-model="co.address.zip" required ng-keyup="getCityState($event)" />
					<p class="help-block" ng-show="addressForm.zip.$invalid && !addressForm.zip.$pristine">Enter your ZIP code.</p>
				</div>
				<div class="form-group">
					<label for="city">City</label>
					<input type="text" name="city" id="city" class="form-control" placeholder="City" ng-model="co.address.city" required />
					<p class="help-block" ng-show="addressForm.city.$invalid && !addressForm.city.$pristine">Enter your city.</p>
				</div>
				<div class="form-group">
					<label for="state">State</label>
					<input type="text" name="state" id="state" class="form-control" placeholder="State" ng-model="co.address.state" required />
					<p class="help-block" ng-show="addressForm.state.$invalid && !addressForm.state.$pristine">Enter your state.</p>
				</div>
				<p class="info">Order confirmation will be sent to the contact details below.</p>

				<div class="form-group">
					<label for="email">Alternate Email</label>
					<input type="text" name="email" id="email" class="form-control" placeholder="Alternate Email" ng-model="co.user.emailId" required />
				</div>
			</aside>
		</div>
		<div class="form-actions">
			<button type="submit" ng-click="updateAddress($event);" ng-disabled="addressForm.$invalid || addressLoading" class="btn btn-primary">
				<span>Save Address to deliver and Proceed</span>
			</button>
			<img ng-if="addressLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
		</div>
	</form>
</div>
<div class="address-blocks" ng-show="hasAddress">
	<div class="addressSelection">
		<h2>Choose the below address: </h2>
		<div class="address-wraper" ng-class="{carouselActive: addressList.length > 4}">
			<ul class="carouselStrip">
				<li ng-repeat="(key, val) in addressList" ng-click="updateAddressToStorage($event, val.addressId);" ng-class="{active: (val.addressId == co.user.addressId)}">
					<label for="address{{key}}" class="addressList">
						<span class="name">{{val.firstName}} {{val.lastName}}</span></br>
						<span>{{val.addressLine1}}</span>, <span>{{val.addressLine2}}</span></br>
						<span>{{val.city}}</span>,</br>
						<span>{{val.state}} - {{val.zip}}</span></br>
						<span>Phone: {{val.phone}}</span></br>
					</label>
					<a href="javascript:void(0);" class="delete" ng-click="deleteAddress($event, val.addressId);">
						<i class="fa fa-times" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
			<a href="javascript:void(0);" class="next" ng-click="nextAddressSlider($event);">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</a>
			<a href="javascript:void(0);" class="prev" ng-click="prevAddressSlider($event);">
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
			</a>
		</div>
		<button ng-click="selectAddress($event);" class="btn btn-primary">
			<span>Save Address to deliver and Proceed</span>
		</button>
	</div>
</div>