<div class="container">
    <div class="checkout">
        <div id="status-buttons" class="checkout-status text-center">
            <a ui-sref-active="active" ui-sref=".login"><span>1</span>Login</a>
            <a ui-sref-active="active" ui-sref=".address"><span>2</span>Address</a>
            <a ui-sref-active="active" ui-sref=".order"><span>3</span> Order</a>
            <a ui-sref-active="active" ui-sref=".payment"><span>4</span> Payment</a>
        </div>
        <div class="section login-details login">
            <h3>LOGIN</h3>
            <span>to continue and place order</span>
            <div class="container form-views login-container" ui-sref-active="active" ui-sref=".login" ui-view></div>
            <button class="change modifyBtn" ng-class="{done: co.user}" ng-click="skipToPage($event, 'login')">
                <i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span>
            </button>
        </div>
        <div class="section address-details address">
            <h3>ADDRESS DETAILS</h3>
            <span>provide your address details</span>
            <div class="container form-views address-container" ui-sref-active="active" ui-sref=".address" ui-view></div>
            <button class="change modifyBtn" ng-class="{done: co.address}" ng-click="skipToPage($event, 'address')">
                <i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span>
            </button>
        </div>
        <div class="section order-summary oreder">
            <h3>ORDER SUMMARY</h3>
            <span>your order details</span>
            <div class="container form-views order-container" ui-sref-active="active" ui-sref=".order" ui-view></div>
            <button class="change modifyBtn" ng-class="{done: co.order}" ng-click="skipToPage($event, 'order')">
                <i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span>
            </button>
        </div>
        <div class="section payment">
            <h3>PAYMENT</h3>
            <span>choose the mode of payment below</span>
            <div class="container form-views payments-container" ui-sref-active="active" ui-sref=".payment" ui-view></div>
        </div>
    </div>
</div>
<div class="modalComponent overlay cartMailFormSuccess addToCartError">
    <a href="javascript:void(0);" class="fa fa-times overlay-close" ng-click="closeOverlay()" title="Close"></a>
    <div>
        <p>Mail sent successfully</p>
    </div>
</div>
<div class="modalComponent overlay cartMailForm">
    <a href="javascript:void(0);" class="fa fa-times overlay-close" ng-click="closeOverlay()" title="Close"></a>
    <div class="response" ng-if="register.subscribedSuccesfully || register.subscribedFailed">
        <div class="bg-success" ng-if="register.subscribedSuccesfully">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <p>{{register.pushNotification}}</p>
        </div>
        <div class="bg-danger" ng-if="register.subscribedFailed">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <p>{{register.pushNotification}}</p>
        </div>
    </div>
    <h3>Enter your details here </h3>
    <form name="form" ng-submit="sendCartToMail($event)" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="Email">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" ng-model="register.user.firstName" required />
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" placeholder="Last Name" ng-model="register.user.lastName" required />
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.Email.$dirty && form.Email.$error.required }">
            <label for="Email">Email</label>
            <input type="email" name="Email" id="Email" class="form-control" placeholder="Email Address" ng-model="register.user.emailId" required />
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.Mobile.$dirty && form.Mobile.$error.required }">
            <label for="Mobile">Mobile</label>
            <input type="tel" name="Mobile" id="Mobile" class="form-control" placeholder="Cell Number" ng-required="number" ng-model="register.user.contactNo" required />
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || register.dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="register.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            
        </div>
    </form>
</div>
