<div class="login-container">
    <h1> Login Haastika </h1>
    <div class="login">
        <div id="social-registration-form-container" class="social-registration-form-container">
            <span class="social-button google" href="javascript:void(0)" onclick="" title="Google" alt="Sign in with Google"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
            <span class="social-button facebook" href="javascript:void(0)" onclick="" title="LinkedIn" alt="Sign in with Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></span>
        </div>


        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div class="login-form">
            <h3>Or login with e-mail</h3>
            <form name="form" ng-submit="login.login()" role="form">
                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control" ng-model="username" required placeholder="Enter your email address" />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Email id is required</span>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" ng-model="password" required placeholder="Enter your password" />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary submit">Login</button>
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
                <a class="btn-link" style="float: left">Forgot Password?</a>
                <a class="btn-link" style="float: right" href="">Create a New Account</a>
            </form>
        </div>
    </div>
</div>

<style>
    header .menu { height: 2px; }
    header .menu > .container { display: none; }
</style>
<script type="text/javascript">
    $(function() { 
        window.dataLoaded = true;
    });
</script>