<!-- Content -->
<div class="container">
	<div class="category">
		<h1>{{cat.data.selectedCategory.categoryName}}</h1>
		<div class="category-banner tile">
			<img ng-src="{{cat.data.selectedCategory.categoryImagePath}}" alt="Category" />
		</div>
		<div class="listing">
			<div class="filters view">
				<a class="filterIcon" ng-click="showFilter($event);" aria-hidden="true" href="javascript:void(0);">
					<i class="fa fa-filter"></i>	
				</a><span>Filters</span>
				<span class="layoutTitle">View Layouts</span>
				<ul>
					<li>
						<a href="javascript:void(0);" ng-click="showList($event);" class="showList" title="List View">
							<i class="fa fa-list-ul"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" ng-click="showGrid($event);" class="showGrid" title="Grid View">
							<i class="fa fa-table"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="result row">
				<div class="categoryTree">
					<div class="treeView tile">
						<h2>Simillar Items</h2>
						<ul>
							<li ng-repeat="(key, value) in cat.data.filterCategories">
								<i class="fa fa-angle-double-right" aria-hidden="true"></i>
								<a href="{{value.categoryDetailsURL}}">{{value.categoryName}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="spacingAdjust">
					<div class="span_3_of_12 col" ng-repeat="(key, value) in cat.data.productsList">
						<div class="newRow" ng-if="$index !=0 && $index % 4 == 0"></div>
						<div class="wide-quarter-tile tile">
			                <figure>
			                    <a href="{{value.productDetailsURL}}"><img alt="" ng-src="{{value.productImage}}"></a>
			                </figure>
			                <div class="detail">
			                    <h4>{{value.productName}}</h4>
			                    <p ng-if="value.productDescription">{{value.productDescription}}</p>
			                    <div class="gridCol">
			                    	<div class="ratingBG">
										<span class="ratingOverlay" style="width: {{value.averageProductRating/5*100}}%"></span>
									</div>
			                    	<span class="availability">Availability: <span>{{value.productAvailablility}}</span></span>
								</div>
	                    		<span class="price"><i class="fa fa-{{value.productCurrency | lowercase}}"></i> {{value.productPrice}}</span>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>