<!-- Content -->
<div class="container">
	<ul id="breadcrumbs">
		<li><a href="home" class="first">Home</a></li>
		<li ng-repeat="(key, value) in cat.data.breadcrumb">
			<a href="{{value.linkUrl}}" ng-class="{'current':$last}">{{value.displayText}}</a>
		</li>
	</ul>
	<div class="category">
		<h1>{{cat.data.selectedCategory.categoryName}}</h1>
		<div class="category-banner tile noFlash" ng-hide="cat.data.categoryAttributes">
			<img src="{{cat.data.selectedCategory.bannerImagePath}}" alt="{{cat.data.selectedCategory.categoryName}}" />
		</div>
		<div class="listing">
			<div class="filters view" ng-hide="cat.data.categoryAttributes">
				<a class="filterIcon" ng-click="showFilter($event);" aria-hidden="true" href="javascript:void(0);">
					<i class="fa fa-filter"></i>
					<span>Filters</span>
				</a>
				<span class="layoutTitle">View Layouts</span>
				<ul>
					<li>
						<a href="javascript:void(0);" ng-click="showList($event);" class="showList" title="List View">
							<i class="fa fa-list-ul"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" ng-click="showGrid($event);" class="showGrid" title="Grid View">
							<i class="fa fa-table"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="result row">
				<div class="categoryTree">
					<div class="treeView tile noFlash">
						<h2>Simillar Items</h2>
						<ul>
							<li ng-repeat="(key, value) in cat.data.filterCategories">
								<i class="fa fa-angle-double-right" aria-hidden="true"></i>
								<a href="{{value.categoryDetailsURL}}">{{value.categoryName}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="spacingAdjust">
					<div ng-hide="cat.data.categoryAttributes">
						<div class="span_3_of_12 col" ng-repeat="(key, value) in cat.data.productsList">
							<div class="newRow" ng-if="$index !=0 && $index % 4 == 0"></div>
							<a href="{{value.productDetailsURL}}" class="productItem">
								<div class="wide-quarter-tile tile">
									<figure>
										<img alt="" ng-src="{{value.productImageGallery[0].baseImagePath}}">
									</figure>
									<div class="detail">
										<h4 limit-character-render char-length="34" model-bind="value.productPartNumber">{{value.productPartNumber}}</h4>
										<p class="productDescription" limit-character-render char-length="400" model-bind="value.productDescription">{{value.productDescription}}</p>
										<div class="gridCol">
											<div style="display: inline-flex;">
												<div id="star-five"></div>
												<div id="star-five"></div>
												<div id="star-five"></div>
												<div id="star-five-nofill"></div>
												<div id="star-five-nofill"></div>
											</div>
											<span class="availability">Availability: 
												<span>{{value.productAvailablility}}</span>
											</span>
										</div>
										<div class="priceChooser">
											<div ng-repeat="(key, priceValue) in value.productPriceOptions">
												<span class="price {{priceValue.currencyCode | lowercase}}">
                  				<i class="fa fa-{{priceValue.currencyCode | lowercase}}"></i>
                  				{{priceValue.price}}
                  			</span>
											</div>
										</div>
									</div>
								</div>
								<add-to-cart part-number="value"></add-to-cart>
							</a>
						</div>
					</div>
					<!-- List of subcategories and their products -->
					<div ng-hide="cat.data.productsList.length" class="rootCategory">
						<div class="span_12_of_12 col categoryBlock" ng-repeat="(key, subC) in cat.data.categoryAttributes.subCategoryList">
							<div ng-repeat="(key, productItem) in subC.productsList | filter:query | limitTo:iterateThrough">
								<div class="span_6_of_12 col bigTile" ng-if="$first">
									<a href="{{productItem.productDetailsURL}}">
										<div class="wide-full-tile tile category">
											<figure>
												<img alt="" ng-src="{{productItem.productImageGallery[0].largeImagePath}}">
											</figure>
											<div class="detail">
												<h4>{{subC.categoryName}}</h4>
											</div>
										</div>
									</a>
								</div>
								<div class="span_3_of_12 col mediumTile" ng-if="!$first">
									<a href="{{productItem.productDetailsURL}}" class="productItem">
										<div class="wide-quarter-tile tile">
											<figure>
												<img alt="" ng-src="{{productItem.productImageGallery[0].baseImagePath}}">
											</figure>
											<div class="detail">
												<h4 limit-character-render char-length="34" model-bind="productItem.productName">{{productItem.productName}}</h4>
												<p class="productDescription" limit-character-render char-length="400" model-bind="productItem.productDescription">{{productItem.productDescription}}</p>
												<div class="gridCol">
													<div style="display: inline-flex;">
														<div id="star-five"></div>
														<div id="star-five"></div>
														<div id="star-five"></div>
														<div id="star-five-nofill"></div>
														<div id="star-five-nofill"></div>
													</div>
													<span class="availability">Availability: <span>{{productItem.productAvailablility}}</span></span>
												</div>
												<div class="priceChooser">
													<div ng-repeat="(key, priceValue) in productItem.priceOptions">
														<span class="price {{priceValue.currencyCode | lowercase}}">
					                    				<i class="fa fa-{{priceValue.currencyCode | lowercase}}"></i>
					                    				{{priceValue.price}}
					                    			</span>
													</div>
												</div>
											</div>
										</div>
        								<add-to-cart part-number="productItem"></add-to-cart>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(e) {

		$ = jQuery;

		// Reset currency icons for Desktop
		$(".social-strip a").removeClass("active");
		$(".currencyConverter a, .currencyChooser a").removeClass("active");
		$(".currencyConverter a[rel='inr']").addClass("active");
		$(".currencyChooser a[rel='inr']").addClass("active");

	});
</script>
