<!-- HEADER -->
<div ui-view="nav"></div>
<!-- Content -->
<div class="container">
	<div class="category">
		<h1>{{cat.data.categoryTitle}}</h1>
		<div class="category-banner tile">
			<img ng-src="{{cat.data.bannerImage}}" alt="Category" />
		</div>
		<div class="listing">
			<div class="filters">
				<ul>
					<li>
						<a href="javascript:void(0);" class="showList" title="List View">
							<i class="fa fa-list-ul"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="showGrid" title="Grid View">
							<i class="fa fa-table"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="result">
				<div class="spacingAdjust">
					<div class="col-md-3 column" ng-repeat="(key, value) in cat.data.items">
						<div class="newRow" ng-if="$index % 4 == 0"></div>
						<div class="wide-quarter-tile tile">
			                <figure>
			                    <a href="{{value.href}}"><img alt="" ng-src="{{value.image[0].medium.src}}"></a>
			                </figure>
			                <div class="detail">
			                    <h4>{{value.productTitle}}</h4>
			                    <span>{{value.currency}} {{value.price}}</span>
			                    <button class="buyBtn">Buy Now</button>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>