@media only screen and (max-device-width: 768px) and (max-width: 736px) {
  body { width: 100%; min-width: 100%; font-size: 14px; }
  .mobileView { display: block }
  .row { width: 100%; }

  header nav a:hover, header nav a:focus { color: #000 }
  #breadcrumbs { display: none; }
  header .menu { text-align: center; }
  .logo a { margin-left: 15px; }
  /* Mobile Menu */
  .social-strip.mobileView { display: inline-block; }
  .social-strip .profile span, .social-strip .profilePicUpdate.loggedIn { margin-top: 0; }
  .mobileRendering { padding: 0 15px; }
  .isSafari .menu .social-strip { margin-top: 0px; }
  .social-strip ul li { position: relative; }
  .isSafari .social-strip ul li a.homeLink { position: relative; top: 1px; }
  .social-strip ul li a span.count { top: -2px; }
  .social-strip ul li .fa.fa-home { font-size: 20px; vertical-align: text-bottom; }
  header { min-height: 160px; }
  .header-top { height: 75px; }
  .social-strip { margin-top: 0; font-size: 16px; line-height: 34px; }
  .social-strip ul li .fa { vertical-align: inherit; }
  .social-strip ul { text-align: center; }
  .social-strip .subscribeLink { display: none; }
  .social-strip ul li a { color: #fff; font-size: 85%; }
  header .order-info { padding-top: 46px; }
  .order-info, .social-icon { display: none }
  .order-info { padding-top: 54px; }
  .order-info span { display: block;  }
  .menu .social-strip ul { position: static; }
  .order-info { display: block; position: absolute; width: 80%; left: 10%; }
  .shipping { font-size: 15px; }
  .shipping-wrap { height: 52px; line-height: 52px; }
  .shipping p { margin-right: 0; padding: 12px 0; display: block; font-size: 100%; line-height: initial; }
  .shipping p .fa { vertical-align: sub; padding: 0 !important; }
  .shipping a { display: none; }
  .pageCounter { text-align: center; }
  .dimentionCard {  margin: 20px 20px; }
  #map_canvas { height: 250px; }
  .product_wrap { margin-bottom: 10px; }
  .flasher { width: 94% }
  .cart-drawer.slideIn { left: 0; }
  .cart-drawer { width: 100%; overflow: scroll; display: block !important; position: fixed; left: -1000px; right: 0; border-radius: 0; border: 0; height: 100%; top: 0; transition: left .7s cubic-bezier(0.89, 0.24, 0.35, 0.57); }
  .cart-drawer h2 { border-bottom: solid 2px #e6b7b7; margin: 20px 0 10px; padding-bottom: 20px; display: block; position: relative; }
  .social-strip .cart-drawer h2 a { color: #333; position: absolute; right: 14px; top: -4px; font-size: 28px; }

  .desktop-nav, .desktop-nav > .menuRoot, .menu .social-strip { display: none; }
  .menu-stuck .menu .social-strip { display: block; }
  .mobile .nav-sticky .stickyMenu .desktop-nav { display: block; right: 14px; top: 5px; position: absolute; z-index: 2; font-size: 26px; }
  .mobile .stickyMenu .logo, .mobile .stickyMenu .row .social-strip { display: none; }
  .mobile .desktop-nav .fa { display: block }
  .mobile .nav-sticky .desktop-nav .fa { color: #fff }
  .mobile .desktop-nav .activator .fa-minus { display: none; }
  .mobile .desktop-nav { position: absolute; top: 22px; right: 14px; width: 32px; height: 32px; font-size: 32px; color: #333; }
  .mobile .desktop-nav > .menuRoot h2 { border-bottom: solid 2px #e6b7b7; margin: 20px 0 10px; padding-bottom: 20px; display: block; position: relative; }
  .mobile .desktop-nav > .menuRoot h2 a { color: #333; position: absolute; right: 14px; top: -4px; font-size: 28px; }
  .mobile .desktop-nav > .menuRoot { display: none; width: 100%; position: fixed; right: 0; top: 0; padding: 10px 5px; background: #fff; border: 0; height: 100%; z-index: 999; overflow: scroll; }
  .mobile .desktop-nav > .menuRoot > ul { width: 100%; margin-top: 0; }
  .mobile .desktop-nav > .menuRoot > ul > li { float: none; padding: 0; display: block; border-right: 0;}
  .mobile .desktop-nav > .menuRoot > ul > li .activator { display: block; float: left; color: #333; padding: 10px; line-height: 20px; font-size: 14px; }
  .mobile .desktop-nav > .menuRoot > ul > li .activator .fa { padding-top: 3px }
  .mobile .desktop-nav > .menuRoot > ul > li > a { font-weight: bold }
  .mobile .desktop-nav > .menuRoot > ul > li a { padding: 5px 0; display: block; color: #333; text-align: left; line-height: 30px; }
  .mobile .nav-sticky .desktop-nav .menuRoot .fa { color: #333; }
  .mobile header nav .menuRoot ul > li> a.active { background: none; }

  .mobile header nav { display: block }
  .header-top .currencyConverter { display: none }
  .mobile .desktop-nav>.menuRoot .currencyConverter { display: block; }
  .currencyConverter .currency-chooser { display: block; text-align: center; }
  .currencyConverter .currency-chooser a { display: inline-block; float: none; }
  .currencyChooser a { display: inline-block; padding: 0 15px; }
  .currencyChooser a.active, header .currencyChooser a:hover { background: #e3e3e3; }
  .currencyConverter .currencyTitle { font-size: 16px; line-height: 28px; }
  .currencyConverter a.active .fa { display: inline-block; }

  /*.mobile header nav ul { display: none; }*/
  .mobile header nav ul > li .sub-menu { position: static; width: auto; border: 0; background: none; padding: 0; text-align: left; margin-left: 30px; }
  .mobile header nav ul > li { padding: 0 }
  .mobile header nav li a { background: none; }
  .mobile .sub-menu h3, .mobile .sub-menu figure { display: none }
  .mobile .sub-menu .links { width: 290px; padding: 0; }
  .sub-menu.menu-three ul { width: 100% }
  .sub-menu.menu-three .links { width: auto; padding: 0px 20px; }
  .mobile .sub-menu a { width: auto; float: none; }
  header nav ul > li .sub-menu.catalog .links { width: 100%; }
  .currencyChooser { display: block }
  .mobile .desktop-nav > .menuRoot .currencyChooser a { display: inline-block; padding: 5px 10px;  }
  .mobile .desktop-nav > .menuRoot .currencyChooser .fa { display: inline-block; color: #333; }
  .mobile .desktop-nav > .menuRoot .currencyChooser .fa:hover { color: #33adff; }
  .mobile header nav .menuRoot .currencyChooser> a.active { background: #dedede; border-radius: 10px; padding: 5px 20px !important; }

  #galleryBanner { width: 100%; height: 180px }
  #galleryBanner .ws-title { padding: 10px }
  .ws_images { width: 100%; max-width: none; min-width: none; }
  #galleryBanner img { height: 180px; }
  #galleryBanner .ws_images > div > img { width: auto; height: 180px }

  .tall-partition .wide-quarter-tile, .product figure { width: 100% }
  .tall-partition .col { margin-top: 0 }
  .tile { margin-top: 10px; }
  .tileShuffle .row { margin-top: 0 }
  .item-box-layout .wrapper .tall-partition { height: auto }
  .layout-6 .row .col:nth-child(5), .layout-6 .row .col:nth-child(6), .tall-partition .col:nth-child(2), .four-square .col:nth-child(3), .four-square .col:nth-child(4) { margin-top: 0 }
  .wide-half-tile figure img, .wide-full-tile figure img { margin-left: -100px   }
  .wide-partition a { display: block; }
  .wide-tall-tile figure, .wide-tall-tile figure { text-align: center; }
  .four-square .wide-partition .wide-quarter-tile { width: auto }
  #galleryBanner .ws_images .ws_list img { width: auto }

  .footer { padding: 25px 15px 10px; }
  .footer .widget h3 { font-size: 14px; margin-bottom: 5px; padding-bottom: 5px; }
  .footer .widget li, .footer .widget li a { font-size: 12px; margin-bottom: 6px; }
  footer { height: 86px; padding-top: 20px; }
  footer .back-top a { top: -29px; left: 50%; margin-left: -32px }
  footer p { line-height: 16px; }
  footer .span_5_of_12 { padding-left: 15px; }
  footer .span_5_of_12.alignRight { padding-right: 15px; font-size: 13px; }
  .col.span_2_of_12.back-top, .col.span_2_of_12.pageCounter { display: none; }
  footer .span_5_of_12.alignRight { line-height: 24px; }

  #modal { width: 100%; height: 100%; margin: 0; left: 0; top: 0; bottom: 0; right: 0; border: 0; position: fixed; }
  #modal .adMessageBox { position: static; margin: 0; display: inline-block; width: 100%; height: 100%; background-repeat: repeat; }
  #modal .adMessageBox .message { position: relative; top: 50%; margin-top: -180px; }
  #close { top: 11px; right: 11px; }
  .rootCategory .mediumTile { margin: 0 }
  .rootCategory .tile { margin: 0 0 13px 0; }
  #map_canvas { display: none; }

  .category .spacingAdjust .wide-quarter-tile { margin-bottom: 15px }
  .category .spacingAdjust .wide-quarter-tile figure { width: 100% }
  .spacingAdjust { margin: 0 !important; }
  .category .categoryTree.show { width: 100% }
  .category .categoryTree .treeView { position: static; margin: 0; }
  .magnify-text, .zoomable, .magnifyarea, .zoomstatus, .zoomtracker { display: none; }
  .product-gallery { min-height: auto }
  .targetarea img { width: 100% !important; height: auto !important; opacity: 1 !important; }
  .product-gallery figure { border: 0; width: auto; display: block; margin: 0 15px; }
  .product-details .product-card { display: block; width: auto; margin: 0 15px; min-height: 500px; position: relative; }
  .accordion { margin: 15px 15px; }
  .accordion p { font-size: 16px; line-height: 28px; }
  .category .filters .layoutTitle, .category .filters ul { display: none; }
  .accordion ul li a { padding: 5px 15px 7px; }

  .subscriptionPage h1 { width: 100%; font-size: 28px; line-height: 32px; }
  .subscriptionPage h2 { font-size: 20px; line-height: 32px; }
  .registrationForm { margin-top: 30px; }
  .subscriptionPage .arrowedBubble { margin: 30px 0; }
  .subscriptionPage .arrowedBubble .cover { transform: rotate(90deg); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); -moz-transform: (90deg); margin-left: -25px; left: 50%; top: -75px; }

  .contactPage { background: none; min-height: inherit; }
  .contactPage .form { width: 100%; box-shadow: none; border: 0; top: 0; }
  .officeAddress { display: none }
  .aboutus { width: 100%; margin: 0; padding: 0; line-height: 28px;  }
  .aboutus p { font-size: 14px; line-height: 24px; }
  .aboutus .imageSection img { margin: 25px 20px; }
  .pull-right { float: left !important; }
  footer .back-top a { top: -45px; left: auto; }
  .policy { width: 100%; padding: 15px; border: 0 }

  .category h1 { line-height: 36px; }
  .category .category-banner { height: 110px; }
  .category .category-banner img { width: 100%; height: auto; }
  .category .span_3_of_12 { width: 48%; margin-left: 0 }
  .category .span_3_of_12.left-tile { margin-right: 4%; }
  .category .mobile-tile .detail span.price { font-size: 14px; line-height: 28px; }
  .category .tile .gridCol { line-height: inherit; width: 56%; }
  .category .mobile-tile .detail span.availability { line-height: 16px; display: block; }
  .category .mobile-tile .detail span.availability .label { display: none; }
  .category .filters, .category .category-banner { display: none; }
  .category .listing { margin-top: 15px; }

  .cart-page h1 { line-height: 34px; font-size: 18px; }
  .cart-page .part-details h3 { width: 100%;  }
  .cart-page .item-details .part-details { line-height: normal; }
  .cart-page .item-details figure img { height: 110px; }
  .cart-page .item-details .part-details .alignRight { float: none; text-align: inherit; padding-right: 0;}
  .cart-page .part-details .item-price { margin: 10px 0; width: 62%; }
  .cart-page .cart-summary > div label { width: 220px; }
  .cart-page .cart-extra .extra-links { width: initial; }
  .cart-page .list-items { margin-top: 10px }
  .cart-page .item-details figure img { height: 80px; }
  .cart-page .cart-summary > div label { width: auto; }
  .cart-page .cart-summary { border-top: solid 1px #d89d9d; text-align: right; padding-top: 10px; margin-top: 10px; }
  .cart-page .cart-extra .extra-links a { color: #337ab7; }

  .orderLookupList .status { width: 100%; }
  .orderLookupList .status li { width: 86px; }
  .orderLookupList .status li span .tick { left: 27px; }
  .orderLookupList .status { margin: 50px auto 80px; }

  .checkout .section.selected .container { background: #fff; margin: 10px -18px 0; padding-bottom: 15px; }
  .checkout .editAddress { top: 10px; right: 15px; }
  .checkout .section .container > div.address-blocks, .checkout .section .container > div.address-form { margin: 60px 15px 0; }
  .checkout .order-form .columns aside { float: none; }
  .checkout .order-form .columns aside:first-child { margin: 0 }
  .checkout .list-header { display: none; }
  .checkout .order-list { width: auto; }
  .checkout .order-list .part-details h5 { width: auto; float: none; margin-bottom: 10px; padding-right: 15px; }
  .checkout .order-list .alignRight { margin: 0; line-height: 32px; }
  .checkout .order-list .part-controls { margin-right: 19px; display: block; }
  .checkout .order-list .part-controls p { width: auto; display: inline-block; }
  .checkout .order-list .part-controls .controls { float: right; text-align: right; }
  .checkout .order-address { width: auto; }
  .checkout .order-address.order-section, .checkout .order-voucher.order-section, .checkout .order-summary-price.order-section, .checkout .section .container .form-actions { margin: 0 15px 15px; }
  .checkout .order-list .quantityDown, .checkout .order-list .quantityUp, .cart-page .item-details .part-details .quantityDown, .cart-page .item-details .part-details .quantityUp { padding: 0 2px 0 4px; }
  .cart-page .item-details .part-desciption, .cart-page .item-details .part-details { width: 75%; margin-left: 10px; }
  .cart-page .cart-summary>div span { width: 100px; }
  .orderLookup { margin: 0 }
  .orderLookup .form-group, .orderLookup .form-actions { margin: 0; }
  .orderLookupContainer h2 { font-weight: bold; }

  .layout-3, .layout-2 { display: none; }
  .layout-4 .mobile-tile, .layout-5 .mobile-tile, .layout-6 .mobile-tile { width: 49%; }
  .layout-4 .mobile-tile .tile, .layout-5 .mobile-tile .tile, .layout-6 .mobile-tile .tile { margin-top: 6% }
  .layout-6 .product { margin-left: 2px; }
  .layout-6 .left-tile .product { margin-left: 0px; }
  .tall-partition .col:nth-child(2) { padding-left: 2px; }
  .mobile-tile.left-tile { margin-right: 2%; }
  .hide-mobile { display: none; }
  .mobile-tile .product, .category .mobile-tile { min-height: auto; height: 152px; }
  .mobile-tile .detail { font-size: 10px; }
  .mobile-tile .detail * { padding: 0; width: auto; }
  .mobile-tile .detail h4, .mobile-tile .detail span.price, .mobile-tile .detail span.availability { font-size: 10px; line-height: 12px; }
  .mobile-tile .product figure, .category .spacingAdjust .wide-quarter-tile figure { height: 104px; display: block; }
  .mobile-tile .detail h4 { padding: 0 10px; overflow: hidden; }
  .item-box-layout .wrapper .tall-tile .wide-tall-tile.mobile-category, .mobile-category { height: 142px; margin-top: 3%; }
  .mobile-category figure, .mobile-category img, .category .spacingAdjust .wide-quarter-tile figure img { height: inherit; text-align: center; }
  .wide-full-tile figure img, .mobile-tile figure img { margin: 0; width: auto; }
  .shipping-wrap .col-md-12 { padding: 0; }

  #star-five, #star-five-nofill { border-right-width: 6px; border-bottom-width: 3px; border-left-width: 6px; }
  #star-five:before, #star-five-nofill:before { border-bottom-width: 6px; border-left-width: 2px; border-right-width: 2px; top: -4px; left: -4px; }
  #star-five:after, #star-five-nofill:after { border-bottom-width: 3px; border-left-width: 6px; border-right-width: 6px; top: 0px; left: -6px; }
  .tile .gridCol { line-height: inherit; }

  .mobile-wide-tile .wide-full-tile.tile.category { height: 142px; }
  .rootCategory .left-tile .mobile-tile {margin-right: 3%; margin-bottom: 4%;}

  .minicart>p { padding: 6px 15px; text-align: left; }
  .minicart>p > a { color: #333; }
  .accounts-container .menus li a { line-height: 34px; }
  .accounts-container .recent-orders>ul>li:nth-child(odd) { background: rgba(233, 233, 245, 0.76); }
  .accounts-container .recent-orders>ul>li:nth-child(even) { background: #efeeee; }
  .accounts-container { padding: 0; background: none; }
  .accounts-container .col { padding: 0 15px; margin: 0; }
  .accounts-container .col .col { padding: 0;  }
  .accounts-container .col.menus { float: none; padding: 0 15px; margin: 0; width: 100%; }
  .accounts-container .recent-orders ul { margin: 0 -15px; }
  .accounts-container .recent-orders ul li:first-child { display: none; }
  .accounts-container .recent-orders ul li { background: #fff; position: relative; padding: 0 15px 0 10px; margin: 10px 0; }
  .accounts-container .recent-orders ul li.created { border-left: 5px solid #dc0000; }
  .accounts-container .recent-orders ul li.being_processed { border-left: 5px solid #dcb000; }
  .accounts-container .recent-orders ul li.shipped { border-left: 5px solid #00dc47; }
  .accounts-container .recent-orders ul li.delivered { border-left: 5px solid #08c; }
  .accounts-container .recent-orders ul li span { width: auto; padding: 0; }
  .accounts-container .recent-orders .ordershipping .fa,
  .accounts-container .recent-orders .orderdate .fa { display: inline-block; }
  .accounts-container .recent-orders .ordershipping,
  .accounts-container .recent-orders .orderdate { font-style: italic; width: auto; color: #adadad; }
  .accounts-container .recent-orders .ordershipping .fa { margin: 0 2px; }
  .accounts-container .recent-orders .orderid { font-weight: bold; }
  .accounts-container .recent-orders .orderdate { display: block; width: auto; line-height: 16px; margin-top: 10px; }
  .accounts-container .recent-orders .ordertotal { position: absolute; right: 15px; width: auto; color: #dc143c; }
  .accounts-container .recent-orders .orderstatus { width: auto; position: absolute; right: 15px; top: 0; }
  .accounts-container .recent-orders .ordercontrol { display: none; }
  .address-form > .columns { height: auto !important; }
  .accounts-container .address-details .columns aside { float: none; margin: 0; }
  .accounts-container .address-details .address-form { padding-bottom: 10px; }
  .address-details .addressSelection { padding-bottom: 10px; }
  .footer-wrap { margin-top: 0; }

  .col-lg-12 { padding: 0; }
  .txt_heading .glyphicon { display: none; }
  #internal-content .panel-body , .txt_body { text-indent: inherit !important; font-size: 12px; line-height: 16px; }
  .txt_heading { font-size: 16px !important; }
  .policy ol, .policy ul { margin-left: 20px; }
}
@media only screen and (max-device-width: 768px) and (max-width: 736px) and (orientation: landscape) {
  .header-top .col.span_5_of_12, .header-top .col.span_2_of_12 { width: 100%; margin: 0 }
  .mobile-wide-tile { width: 100% }
  .mobile-tile.left-tile { margin-left: 0; }
  .mobile-tile { margin-left: 0; }
  .category .span_3_of_12 { width: 49%; }
  .category .span_3_of_12:nth-child(2n+1) { margin-right: 2%; }
  .span_6_of_12.col.four-square, .layout-4 .span_6_of_12 { width: 100%; margin-left: 0;     margin-bottom: 4%; }
  footer { height: 62px; padding-top: 20px; }
  footer .span_5_of_12.alignRight { width: 57%; line-height: 16px; }
  .social-strip .profilePicUpdate.loggedIn { margin-top: 1px; }
  #galleryBanner .ws_images .ws_list img { width: 100% }
  .item-box-layout .wrapper .tall-tile .wide-tall-tile.mobile-category, .mobile-category { margin-top: 2%; }
  .layout-4 .mobile-tile .tile, .layout-5 .mobile-tile .tile, .layout-6 .mobile-tile .tile { margin-top: 4% }
  .address-form > .columns { height: auto; }
  .accounts-container .address-details .columns aside { float: left; }
}
