@media only screen and (max-device-width: 768px) and (max-width: 736px) {
  body { width: 100%; min-width: 100%; font-size: 14px; }
  .mobileView { display: block }
  .row { width: 100%; }

  header .menu { text-align: center; }
  /* Mobile Menu */
  .social-strip.mobileView { display: inline-block; }
  .mobileRendering { padding: 0 15px; }

  header { min-height: 200px }
  .social-strip { margin-top: 8px; }
  .social-strip ul { text-align: center; }
  .social-strip ul li a { color: #fff }
  header .order-info { padding-top: 54px; }
  .order-info, .social-icon { display: none }
  .order-info { padding-top: 54px; }
  .order-info span { display: block;  }
  .menu .social-strip ul { position: static; }
  .order-info { display: block; position: absolute; width: 80%; left: 10%; }

  .mobile .nav-sticky .stickyMenu .desktop-nav { position: static; display: none }
  .mobile .stickyMenu .logo, .mobile .stickyMenu .row .social-strip { display: none; }
  .mobile .desktop-nav .fa { display: block }
  .mobile .desktop-nav { position: absolute; top: 22px; right: 20px; width: 32px; height: 32px; font-size: 32px; color: #333; }
  .mobile .desktop-nav > ul { display: none; width: 300px; position: absolute; right: 0; top: 30px; padding: 10px 5px; background: #fff; border: solid 1px #dedede; z-index: 999; }
  .mobile .desktop-nav > ul > li { float: none; padding: 0; display: block; border-right: 0;}
  .mobile .desktop-nav > ul > li .fa { float: right; color: #333; padding: 10px; line-height: 20px; font-size: 14px; }
  .mobile .desktop-nav > ul > li > a { font-weight: bold }
  .mobile .desktop-nav > ul > li a { padding: 5px 15px; display: block; color: #333; text-align: right; line-height: 30px; }
  .mobile header nav { display: block}
  /*.mobile header nav ul { display: none; }*/
  .mobile header nav ul > li .sub-menu { position: static; width: auto; border: 0; background: none; padding: 0; }
  .mobile header nav ul > li { padding: 0 }
  .mobile header nav li a { background: none; }
  .mobile .sub-menu h3, .mobile .sub-menu figure { display: none }
  .mobile .sub-menu a { width: auto; float: none; }
  .mobile .mobile .desktop-nav > ul > li li a {  }

  #galleryBanner { width: 100%; height: 180px }
  #galleryBanner .ws-title { padding: 10px }
  .ws_images { width: 100%; max-width: none; min-width: none; }
  #galleryBanner img { height: 180px; }
  #galleryBanner .ws_images > div > img { width: auto; height: 180px }

  .tall-partition .wide-quarter-tile, .product figure { width: 100% }
  .tall-partition .col { margin-top: 0 }
  .tile { margin-top: 10px; }
  .tileShuffle .row { margin-top: 0 }
  .item-box-layout .wrapper .tall-partition { height: auto }
  .layout-6 .row .col:nth-child(5), .layout-6 .row .col:nth-child(6), .tall-partition .col:nth-child(2), .four-square .col:nth-child(3), .four-square .col:nth-child(4) { margin-top: 0 }
  .wide-half-tile figure img, .wide-full-tile figure img { margin-left: -100px   }
  .wide-partition a { display: block; }
  .wide-tall-tile figure, .wide-tall-tile figure { text-align: center; }
  .four-square .wide-partition .wide-quarter-tile { width: auto }
  #galleryBanner .ws_images .ws_list img { width: auto }

  .footer .widget li a { font-size: 16px; line-height: 28px; }
  .footer .widget li { font-size: 16px; line-height: 24px; }
  footer .back-top a { top: -29px; left: 50%; margin-left: -32px }

  #modal { width: 100%; height: 100%; margin: 0; left: 0; top: 0; border: 0; position: fixed; }
  #modal .adMessageBox { position: static; margin: 0; display: inline-block; width: 100%; height: 100%; background-repeat: repeat; }
  #modal .adMessageBox .message { position: relative; top: 50%; margin-top: -180px; }
  #close { top: 11px; right: 11px; }


  .category .spacingAdjust .wide-quarter-tile figure { width: 100% }
  .spacingAdjust { margin: 0 !important; }
  .category .categoryTree.show { width: 100% }
  .category .categoryTree .treeView { position: static; margin: 0; }
  .magnify-text, .zoomable, .magnifyarea, .zoomstatus, .zoomtracker { display: none; }
  .product-gallery { min-height: auto }
  .targetarea img { width: auto !important; height: 350px !important; opacity: 1 !important; }
  .product-gallery { min-height: 350px }
  .product-gallery figure { border: 0; width: auto; display: block; margin: 0 15px; }
  .product-details .product-card { display: block; width: auto; margin: 0 15px; min-height: 440px; position: relative; }
  .accordion { margin: 15px 15px; }
  .accordion p { font-size: 16px; line-height: 28px; }
  .category .filters .layoutTitle, .category .filters ul { display: none; }

  .subscriptionPage h1 { width: 100%; font-size: 28px; line-height: 32px; }
  .subscriptionPage h2 { font-size: 20px; line-height: 32px; }
  .registrationForm { margin-top: 30px; }
  .subscriptionPage .arrowedBubble { margin: 30px 0; }
  .subscriptionPage .arrowedBubble .cover { transform: rotate(90deg); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); -moz-transform: (90deg); margin-left: -25px; left: 50%; top: -75px; }

  .contactPage .form { width: 100% }
  .officeAddress { display: none }
  .aboutus { width: 100%; margin: 0; padding: 0; line-height: 28px;  }
}
