<script src="vendor/js/ckeditor/ckeditor.js"></script>
<div class="container adminPage">
	<div class="logindetails">
        <span> Welcome Admin ! </span>
    </div>
    <div class="adminHeader">
		<ul class="adminMenu" ng-click="chooseTemplate($event)">
			<li>
				<label id="inventory" class="active">Inventory</label>
			</li>
			<li>
				<label id="subscriber">Subscribers</label>
			</li>
			<li>
				<label id="promomailgenerator">Promo Emails</label>
			</li>
			<li>
				<label id="ordermanagement">Order Management</label>
			</li>
			<li>
				<label id="updateLayoutWrap">Product Listing</label>
			</li>
		</ul>
		<div class="visitorCount">
			<span>Unique Count / Total Views : </span> {{admin.uniqueViews}} / {{admin.totalCount}}
		</div>
	</div>
	<div class="tabbedPane">
		<div class="inventory paneContent" ui-view="productTree"></div>
		<div class="subscriber paneContent hide" ui-view="subscribers">Subscribers</div>
		<div class="promomailgenerator paneContent hide" ui-view="promomailgenerator">Promo Emails</div>
		<div class="ordermanagement paneContent hide" ui-view="ordermanagement">Order Management</div>
		<div class="updateLayoutWrap paneContent hide">
			<div class="table-responsive container">
				<div class="panel panel-primary">
				    <div class="panel-heading"><h1>Admin Layout Updates</h1></div>
				    <div class="panel-content">
				    	<div class="layout-selection">
							<span class="layoutTitle">Choose your layout here to update: </span>
							<select class="layoutSelector" ng-model="layoutId" ng-change="changeLayout(layoutId)">
								<option value="layout2" ng-selected="{{(layoutId === 'layout2') ? 'selected' : false}}">Layout 2</option>
								<option value="layout3" ng-selected="{{(layoutId === 'layout3') ? 'selected' : false}}">Layout 3</option>
								<option value="layout4" ng-selected="{{(layoutId === 'layout4') ? 'selected' : false}}">Layout 4</option>
								<option value="layout5" ng-selected="{{(layoutId === 'layout5') ? 'selected' : false}}">Layout 5</option>
								<option value="layout6" ng-selected="{{(layoutId === 'layout6') ? 'selected' : false}}">Layout 6</option>
							</select>
							<button class="btn btn-primary saveChange" ng-click="saveLayoutModel($event)"><span>Save Changes</span></button>
						</div>
						<div ui-view="updateLayout" class="updateLayout"></div>
				    </div>
				</div>
			</div>
		</div>
		<div class="banner paneContent hide" ui-view="banners">Banners</div>
	</div>
</div>