<div class="container adminPage">
	<div class="logindetails">
        <span> Welcome Admin ! </span>
        <a href="#/login">Logout</a>
    </div>
	<ul class="adminMenu" ng-click="chooseTemplate($event)">
		<li>
			<label id="inventory" class="active">Inventory</label>
		</li>
		<li>
			<label id="subscriber">Subscribers</label>
		</li>
		<li>
			<label id="banner">Banners</label>
		</li>
	</ul>
	<div class="tabbedPane">
		<div class="inventory paneContent" ui-view="productTree"></div>
		<div class="subscriber paneContent " ui-view="subscribers">Subscribers</div>
		<div class="banner paneContent " ui-view="banners">Banners</div>
	</div>
</div>