<!-- Content -->
<div ui-view="heroBanner"></div>
<!-- PRODUCT-TILES -->
<div class="product_wrap">
    <div class="container">
        <div ui-view="tileLayout"></div>
    </div>
</div>
<!-- PRODUCT-TILES -->

<!-- FOOTER -->
<div class="shipping-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="shipping">
                    <p><span>FREE SHIPPING</span> Offered by HAASTIKA</p><a class="button" href="javascript:void(0);">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Google Map -->
<div id="map_canvas"></div>

<script type="text/javascript">
    
        function initialize() {
            var myLatlng = new google.maps.LatLng(20.285544, 85.795568);
            var mapOptions = {
                zoom: 15,
                scaleControl: false,
                scrollwheel: false,
                zoomControl: false,
                panControl:false,
                streetViewControl: false,
                mapTypeControl:false,
                center: myLatlng,
                styles: [{featureType:"landscape",stylers:[{saturation:-200},{lightness:155},{visibility:"on"}]},{featureType:"poi",stylers:[{saturation:-100},{lightness:51},{visibility:"simplified"}]},{featureType:"road.highway",stylers:[{saturation:-100},{visibility:"simplified"}]},{featureType:"road.arterial",stylers:[{saturation:-100},{lightness:30},{visibility:"on"}]},{featureType:"road.local",stylers:[{saturation:-100},{lightness:40},{visibility:"on"}]},{featureType:"transit",stylers:[{saturation:-100},{visibility:"simplified"}]},{featureType:"administrative.province",stylers:[{visibility:"off"}]/**/},{featureType:"administrative.locality",stylers:[{visibility:"off"}]},{featureType:"administrative.neighborhood",stylers:[{visibility:"on"}]/**/},{featureType:"water",elementType:"labels",stylers:[{visibility:"on"},{lightness:-25},{saturation:-100}]},{featureType:"water",elementType:"geometry",stylers:[{hue:"#b3d9ff"},{lightness:-25},{saturation:-97}]}]
            };

            var mapElement = document.getElementById('map_canvas');
            var map = new google.maps.Map(mapElement, mapOptions);
            var image = new google.maps.MarkerImage('http://kalinnovs.com/ecommerce/assets/images/map-pin.png');
            var marker = new google.maps.Marker({
                position: map.getCenter(),
                map: map,
                icon: image,
                labelClass: 'pin'
            });

            var contentString = '<div id="map-bubble"><div id="map-address"><h5>Haastika Handicraft</h5><p>HIG-A/16, H.B Colony, Baramunda, Bhubaneswar, Odisha 751003, India</p><a class="button" href="https://www.google.com/maps/place/Haastika+Handicraft/@20.2855383,85.7933791,17z/data=!4m6!1m3!3m2!1s0x3a19a788107083c1:0xb6bf1b3ad81dbc7b!2sHaastika+Handicraft!3m1!1s0x3a19a788107083c1:0xb6bf1b3ad81dbc7b" target="_blank">driving directions</a></div></div>';
            var infowindow = new google.maps.InfoWindow({content: contentString});
            var center;


            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });
            function calculateCenter() {
              center = map.getCenter();
            }
        
            google.maps.event.addListenerOnce(map, 'idle', function() {
                calculateCenter();
               google.maps.event.trigger(map, 'resize');
               map.setCenter(center); // var center = new google.maps.LatLng(50,3,10.9);
            });

        }

    initialize();

    if($("#galleryBanner").length > 0) {
        $("#galleryBanner").wowSlider({
            effect:"parallax",
            prev:"",
            next:"",
            duration:20*100,
            delay:20*100,
            width:1170,
            height:260,
            autoPlay:true,
            autoPlayVideo:false,
            playPause:true,
            stopOnHover:false,
            loop:false,
            bullets:1,
            caption:true,
            captionEffect:"parallax",
            controls:true,
            controlsThumb:false,
            responsive:1,
            fullScreen:false,
            gestures:2,
            onBeforeStep:0,
            images:0
        });
    }

</script>