<!-- HEADER -->
<div ui-view="nav"></div>

<!-- Content -->
<div ui-view="heroBanner"></div>
<!-- PRODUCT-TILES -->
<div class="product_wrap">
    <div class="container">
        <div ui-view="tileLayout"></div>
    </div>
</div>
<!-- PRODUCT-TILES -->

<!-- FOOTER -->
<div class="shipping-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="shipping">
                    <p><span>FREE SHIPPING</span> Offered by HAASTIKA</p><a class="button" href="javascript:void(0);">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Google Map -->
<div id="map_canvas"></div>

<script type="text/javascript">
    // Google Map
    function initiateMap() {
        // Create an array of styles.
        var styles = [
            {
                stylers: [
                    
                    { saturation: -40 }
                ]
            },{
                featureType: "road.arterial",
                elementType: "geometry",
                stylers: [
                    { saturation: 70 }
                ]
            },{
                featureType: "road.local",
                elementType: "labels",
                stylers: [
                    { visibility: "on" },
                    { saturation: -50 }
                ]
            },{
                featureType: "poi.business",
                elementType: "labels",
                stylers: [
                  { visibility: "on" }
                ]
            }
        ];

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles, {name: "Styled Map"});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var mapOptions = {
            scrollwheel: false,
            zoom: 18,
            center: new google.maps.LatLng(20.285534, 85.795542),
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
        };

        if($("#map_canvas").length > 0) {
            var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(20.285534, 85.795542),
                map: map,
                title: 'Haastika'
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });

            //Associate the styled map with the MapTypeId and set it to display.
            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');
        }
    }
    initiateMap();

    if($("#galleryBanner").length > 0) {
        $("#galleryBanner").wowSlider({
            effect:"parallax",
            prev:"",
            next:"",
            duration:20*100,
            delay:20*100,
            width:1170,
            height:260,
            autoPlay:true,
            autoPlayVideo:false,
            playPause:true,
            stopOnHover:false,
            loop:false,
            bullets:1,
            caption:true,
            captionEffect:"parallax",
            controls:true,
            controlsThumb:false,
            responsive:1,
            fullScreen:false,
            gestures:2,
            onBeforeStep:0,
            images:0
        });
    }
</script>