<style type="text/css">
	.tree-view {
		width: 34%;
        display: inline-block;
        margin-top: 20px;
	}
    .node-content {
        display: inline-block;
        vertical-align: top;
        padding: 30px;
        width: 65%;
    }
    .node-content .row {
        width: auto;
    }
    .node-content .node{
        border: 2px solid #337ab7;
        width: 100%;
    }
    .node-content .node .node-header {
        min-height: 16.43px;
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 30px;
    }
	.tree-view .category-view{
		margin-left: 0px;
	}
    .tree-view .subcategory-view{
        margin-left: 20px;
    }
    .tree-view .product-view{
        margin-left: 20px;
    }
	.category-node, 
    .product-node {
		border: 1px solid #dae2ea;
	    background: #f8faff;
	    color: #337ab7;
	    margin: 10px;
	    padding: 10px;
	    font-size: 17px;
	    font-weight: 700;
	}
    .product-node.bg-danger, .category-node.bg-danger { background-color: #f2dede; }
    .product-node.bg-danger a { color: #333 }
    .category-node.bg-danger + ul > li .product-node { background-color: #f2dede }
    .category-node.bg-danger + ul > li .product-node > a { color: #333 }
    .subcategory-node {
        font-size: 15px;
    }
    .product-node {
        font-weight: 300;
        font-size: 14px;
    }
    a.product,
    a.subcategory,
    a.category {
        /*color: #337ab7;*/
        cursor: pointer;
    }
    .category-node i {
        margin-right: 10px;
        color: #008000;
        cursor: pointer;
    }
    .form-control.price {
        display: inline-block;
        margin-bottom: 2px;
        width: 90%;
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .productImage .form-group > div { width: 460px; }
    .productImage + .row .col-sm-7 { width: 460px; }
    .productImageUpload .col-sm-3 { padding: 0; margin-right: 15px; width: 92px }
    .productImage .form-group > div .col-sm-4 {  }
    .productImage .form-group > div .col-sm-3 { padding: 0 }
    .delProductImage {position: absolute; right: 0; margin-right: -27px;}

    .logindetails { font-size: 14px; font-weight: 700; overflow: hidden; }
    .logindetails span { display: inline-block; vertical-align: top; margin: 10px 0; }
    .logindetails a { float: right; display: inline-block; margin: 10px 0; vertical-align: top;  }
    .form-group > label, .priceOption .col-sm-4 { margin-top: 8px }
    .priceOption .col-sm-6 > span { position: absolute; display: inline-block; left: 26px; top: 8px; font-weight: 700; z-index: 2 }
    .priceOption .col-sm-6 > input { padding-left: 40px; }
    .ratingWidget .col-sm-7 > span, .statusWidget .col-sm-7 > span { display: inline-block; margin-top: 8px }
    header .menu { height: 2px; }
    header .menu > .container { display: none; }
    .message { width: 400px; height: 120px; background: #fff; border: solid 1px red; position: fixed; left: 50%; top: 50%; margin: -60px 0 0 -200px; border-radius: 20px; }
    .message:before { }
    .message span { justify-content: center; margin-top: 42px; display: block; }
    .btn-sm .fa { margin-right: 6px; }
    .fa-upload { border-radius: 50%; padding: 6px 10px; }
    .imageSpecification span { font-weight: 700; }
    .imageSpecification span span { display: block; }
    .activa { border: solid 1px red }
</style>

<div class="table-responsive container">
<div class="logindetails">
        <span> Welcome Admin ! </span>
        <a href="#/login">Logout</a>
    </div>
<div class="panel panel-primary">
    <div class="panel-heading"><h1>Product Inventory :</h1>
        <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter products list ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="tree-view">
            
            <div style="margin: 0 0 10px 10px;">
                <button class="btn btn-default category-expand-all" ng-click="collapseAll('category')"><i class="category fa fa-plus-square" aria-hidden="true" style="margin-right: 5px;color: #008000;"></i> Category all</button>
                <button class="btn btn-default subcategory-expand-all" ng-click="collapseAll('subcategory')"><i class="category fa fa-plus-square" aria-hidden="true" style="margin-right: 5px;color: #008000;"></i> Subcatgory all</button>
            </div>
            <div>
                <a class="btn btn-primary" data-nodrag="" ng-click="addNode('category',category)" style="margin-left: 10px;"><span class="glyphicon glyphicon-plus"> Category</span></a>
                <a class="btn btn-primary" data-nodrag="" ng-click="addNode('subCategory',category)" style="margin-left: 10px;"><span class="glyphicon glyphicon-plus"> Sub-Category</span></a>
                <a class="btn btn-primary" data-nodrag="" ng-click="addNode('product',category)" style="margin-left: 10px;"><span class="glyphicon glyphicon-plus"> Product</span></a>
            </div>
            <ul class="category">
                <li ng-repeat="category in categoryList" class="category-view">
                    <div class="category-node" ng-class="!category.enabled ? 'bg-danger' : 'text-primary' ">
                        <i class="category fa fa-plus-square" aria-hidden="true" ng-click="collapse($event)"></i>
                        <a class="category" ng-class="!category.enabled ? 'text-danger' : 'text-primary' " ng-click="editNode('category',category)"> {{category.categoryName}} </a> 
                        <a class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="deleteCategory(category)"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="pull-right btn btn-primary btn-xs" data-nodrag="" ng-click="addNode('subCategory',category)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                    <ul style="display:none;">
                        <li ng-repeat="subCategory in category.subCategoryList" class="subcategory-view" ng-if="subCategory.categoryId !== category.categoryId">
                            <div class="category-node subcategory-node" ng-class="!subCategory.enabled ? 'bg-danger' : 'text-primary'">
                                <i class="subcategory fa fa-plus-square" aria-hidden="true" ng-click="collapse($event)"></i>
                                <a class="subcategory" ng-class="!subCategory.enabled ? 'text-danger' : 'text-primary' " ng-click="editNode('subCategory',subCategory, category.categoryId)"> {{subCategory.categoryName}} </a>
                                
                                <a class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="deleteCategory(subCategory)"><span class="glyphicon glyphicon-remove"></span></a>
                                <a class="pull-right btn btn-primary btn-xs" data-nodrag="" ng-click="addNode('product',{})" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                            <ul style="display:none;">
                                <li ng-repeat="product in subCategory.productsList | filter : filterProduct" class="product-view">
                                    <div class="product-node" ng-class="!product.enabled ? 'bg-danger' : 'text'">
                                        <a class="product"  ng-class="!product.enabled ? 'text-danger' : 'text-primary'" ng-click="editNode('product', product, subCategory.categoryId, category.categoryId)"> {{product.productName}}</a>
                                        <a class="pull-right btn btn-danger btn-xs" ng-click="deleteProduct(product)"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
              </ul>
        </div>

        <!-- <div ui-view="productEdit" class="col-md-8"></div> -->
        <!-- <ng-include src="app/components/inventory/productEdit.html"></ng-include> -->
        <div class="node-content">
            <div ng-show="nodeType === 'category'" class="node">
                <div class="node-header">
                    <h3 class="" style="margin: 15px 10px;">
                        {{node.categoryId ? 'Edit Category : ' : 'Add Category'}} {{node.categoryPartNumber}}
                        <label class="pull-right">
                          <input name="categoryStatus" type="checkbox" ng-model="node.enabled"> Active
                        </label>
                    </h3>

                </div>
                <form name="category_form" ng-submit="saveCategory(node)" class="" role="form" novalidate style="margin-left: 30px;">
                    <form-element label="Name" mod="category">
                        <input type="text" class="form-control" name="name" placeholder="category Name" ng-model="node.categoryName" required/>
                        <span ng-show="category_form.$dirty && category_form.name.$error.required" class="help-block">Category name required.</span>
                    </form-element>
                    <form-element label="Description" mod="category">
                        <textarea class="form-control" name="description" placeholder="Description" ng-model="node.categoryDescription"></textarea>
                    </form-element>
                    <form-element label="Category Images" mod="category" class="productImage">
                        <div class="row text-center">
                            <span class="col-sm-4">Menu </span>
                            <span class="col-sm-4">Banner </span>
                            <span class="col-sm-4">Tile </span>
                        </div>
                        <div class="row text-center">
                            <span class="col-sm-4">
                                <img ng-src="{{ node.categoryMenuImagePath }}" width="100%" /> 
                            </span>
                            <span class="col-sm-4">
                                <img ng-src="{{ node.categoryBannerImagePath }}" width="100%" /> 
                            </span>
                            <span class="col-sm-4">
                                <img ng-src="{{ node.categoryTileImagePath }}" width="100%" /> 
                            </span>
                        </div>
                    </form-element>
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-7">
                            <div class="row">
                                <span class="col-sm-4">
                                    <img ng-show="categoryMenuImage" ngf-thumbnail="categoryMenuImage" width="100%"> 
                                </span>
                                <span class="col-sm-4">
                                    <img ng-show="categoryBannerImage"  ngf-thumbnail="categoryBannerImage" width="100%">
                                </span>
                                <span class="col-sm-4">
                                    <img ng-show="categoryTileImage" ngf-thumbnail="categoryTileImage" width="100%">
                                </span>
                            </div>
                            <div ng-app="fileUpload" name="form" class="row">
                                <span class="col-sm-4" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="categoryMenuImage" name="categoryMenuImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                                <span class="col-sm-4" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="categoryBannerImage" name="categoryBannerImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                                <span class="col-sm-4" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="categoryTileImage" name="categoryTileImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                                <div class="row" style="padding: 20px;">
                                    <button ng-click="uploadCatalogImage('category')" class="btn btn-default byn-lg" ng-disabled="category_form.$invalid || imgLoading || (!node.categoryId)" >Upload Images</button>
                                    <img ng-if="imgLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form-element label="">
                            <div class="text-right">
                                <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                                <button ng-disabled="category_form.$invalid || dataLoading"
                                        class="btn btn-sm btn-primary"
                                        type="submit">
                                    <i class="ace-icon fa fa-check"></i>Save Category
                                </button>
                                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                            </div>
                        </form-element>
                    </div>
                </form>
            </div>
            <div ng-show="nodeType === 'subCategory'" class="node">
                <div class="node-header">
                    <h3 class="" style="margin: 15px 10px;">
                        {{node.categoryId ? 'Edit Sub-Category : ' : 'Add Sub-Category'}} {{node.categoryPartNumber}}
                        <label class="pull-right">
                          <input name="categoryStatus" type="checkbox" ng-model="node.enabled"> Active
                        </label>
                    </h3>
                </div>
                <form name="subcategory_form" class="" role="form" novalidate style="margin-left: 30px;">

                    <form-element label="category" mod="category">
                        <select 
                            name="category" 
                            id="category" 
                            ng-model="node.rootCategory.categoryId" 
                            ng-init="productCategoryId" 
                            class="form-control" 
                            required >
                            <option ng-repeat="option in categoryList" 
                                value="{{option.categoryId}}">
                                {{option.categoryName}}
                            </option>
                        </select>
                        <span ng-show="subcategory_form.$dirty && subcategory_form.category.$error.required" class="help-block">Category required.</span>
                    </form-element>
                    <form-element label="Name" mod="category">
                        <input type="text" class="form-control" name="name" placeholder="category Name" ng-model="node.categoryName" required />
                        <span ng-show="subcategory_form.$dirty && subcategory_form.name.$error.required" class="help-block">Sub-category name required.</span>
                    </form-element>
                    <form-element label="Description" mod="category">
                        <textarea class="form-control" name="description" placeholder="Description" ng-model="node.categoryDescription">{{node.categoryDescription}}</textarea>
                    </form-element>
                    <form-element label="Sub Category Images" mod="category" class="productImage">
                        <div class="row">
                            <span class="col-sm-4">Menu </span>
                            <span class="col-sm-4">Banner </span>
                            <span class="col-sm-4">Tile </span>
                        </div>
                        <div class="row">
                            <span class="col-sm-4">
                                <img src="{{ node.categoryMenuImagePath }}" width="100%" /> 
                            </span>
                            <span class="col-sm-4">
                                <img src="{{ node.categoryBannerImagePath }}" width="100%" /> 
                            </span>
                            <span class="col-sm-4">
                                <img src="{{ node.categoryTileImagePath }}" width="100%" /> 
                            </span>
                        </div>
                    </form-element>
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-7">
                            <div class="row">
                                <span class="col-sm-4">
                                    <img ng-show="categoryMenuImage" ngf-thumbnail="categoryMenuImage" width="100%"> 
                                </span>
                                <span class="col-sm-4">
                                    <img ng-show="categoryBannerImage"  ngf-thumbnail="categoryBannerImage" width="100%">
                                </span>
                                <span class="col-sm-4">
                                    <img ng-show="categoryTileImage" ngf-thumbnail="categoryTileImage" width="100%">
                                </span>
                            </div>
                            <div ng-app="fileUpload" name="form" class="row">
                                <span class="col-sm-4" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="categoryMenuImage" name="categoryMenuImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                                <span class="col-sm-4" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="categoryBannerImage" name="categoryBannerImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                                <span class="col-sm-4" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="categoryTileImage" name="categoryTileImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                                <div class="row" style="padding: 20px;">
                                    <button ng-click="uploadCatalogImage('category')" class="btn btn-default byn-lg" ng-disabled="subcategory_form.$invalid || imgLoading || (!node.categoryId)">Upload Images</button>
                                    <img ng-if="imgLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <form-element label="">
                            <div class="text-right">
                                <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                                <button ng-click="saveCategory(node);"
                                        ng-disabled="subcategory_form.$invalid"
                                        class="btn btn-sm btn-primary"
                                        type="submit">
                                    <i class="ace-icon fa fa-check"></i>Save Subcategory
                                </button>
                                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                            </div>
                        </form-element>
                    </div>
                </form>
            </div>
            <div ng-show="nodeType === 'product'" class="node">
                <div class="node-header">
                    <h3 class="" style="margin: 15px 10px;">
                        {{node.productId ? 'Edit Product : ' : 'Add Product'}} {{node.productName}}
                        <label class="pull-right">
                            <input name="categoryStatus" type="checkbox" ng-model="node.enabled"> Active
                        </label>
                    </h3>
                </div>
                <form name="product_form" class="" role="form" novalidate style="margin-left: 30px;">
                    <form-element label="Category" mod="product">
                        <select id="category" name="category" ng-model="productRootCategoryId" class="form-control" ng-change="getSubCategories(productRootCategoryId)" ng-init="productRootCategoryId" required >
                            <option ng-repeat="category in categoryList" value="{{category.categoryId}}">{{category.categoryName}}</option>
                        </select>

                        <span ng-show="product_form.$dirty && product_form.category.$error.required" class="help-block">Category required.</span>
                    </form-element>
                    <form-element label="Sub Category" mod="product">
                        <select id="subCategory" ng-model="productCategoryId" class="form-control" ng-value="node.productCategory.categoryId" ng-init="productCategoryId">
                            <option ng-repeat="subcat in subCategoryList" value="{{subcat.categoryId}}"
                            ng-selected="{{(subcat.categoryId == productCategoryId) ? 'selected' : false}}" >{{subcat.categoryName}}</option>
                        </select>
                    </form-element>
                    <form-element label="Name" mod="product">
                        <input type="text" class="form-control" name="name" placeholder="Product Name" ng-model="node.productName" required />
                        <span ng-show="product_form.$dirty && product_form.name.$error.required" class="help-block">Product name required.</span>
                    </form-element>
                    <form-element label="Description" mod="product">
                        <textarea class="form-control" name="description" placeholder="Description" ng-model="node.productDescription">{{node.productDescription}}</textarea>
                    </form-element>
                    <form-element label="Usage Detail" mod="product">
                        <textarea class="form-control" name="usageDetail" placeholder="usageDetail" ng-model="node.productSpecification.usageDetails">{{node.productSpecification.usageDetails}}</textarea>
                    </form-element>
                    <form-element label="Price" mod="product">
                        <div ng-repeat="priceOption in node.priceOptions" class="row">
                            <span class="col-sm-4">{{priceOption.currencyCode}}</span>
                            <div class="col-sm-8">
                                <input class="form-control price" type="text" name="price" class="form-control" placeholder="Price" ng-model="priceOption.price"  only-numbers/>
                            </div>
                        </div>
                    </form-element>

                    <form-element label="Specification" mod="product">
                        <!-- <div class="row">
                            <span class="col-sm-4">Unit </span>
                            <div class="col-sm-8" ng-model="node.dimensionUnit">
                                <select class="form-control price" >
                                    <option value="cm">in Cm</option>
                                    <option value="inch">in Inch</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="row">
                            <span class="col-sm-4">Width </span>
                            <div class="col-sm-8">
                                <input class="form-control price" type="text" name="price" class="form-control" placeholder="Width" ng-model="node.productSpecification.width"  only-numbers/>cm.
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-sm-4">Height </span>
                            <div class="col-sm-8">
                                <input class="form-control price" type="text" name="price" class="form-control" placeholder="Height" ng-model="node.productSpecification.height"  only-numbers/>cm.
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-sm-4">Depth </span>
                            <div class="col-sm-8">
                                <input class="form-control price" type="text" name="price" class="form-control" placeholder="Depth" ng-model="node.productSpecification.depth"  only-numbers/>cm.
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-sm-4">Weight </span>
                            <div class="col-sm-8">
                                <input class="form-control price" type="text" name="price" class="form-control" placeholder="Weight" ng-model="node.productSpecification.weight"  only-numbers/>Kg.
                            </div>
                        </div>
                        
                    </form-element>

                    <form-element label="Product Images" mod="category" class="productImage">
                        <div class="row text-center imageSpecification">
                            <span class="col-sm-3">Base <span>(284 X height)</span></span>
                            <span class="col-sm-3">Thumb <span>(108 X height)</span></span>
                            <span class="col-sm-3">Large <span>(420 X height)</span></span>
                            <span class="col-sm-3">X Large</span>
                        </div>
                        <div class="row text-center" ng-repeat="images in node.productImageGallery">
                            <span class="col-sm-3">
                                <img src="{{ images.baseImagePath }}" width="100%" /> 
                            </span>
                            <span class="col-sm-3">
                                <img src="{{ images.thumbImagePath }}" width="100%" /> 
                            </span>
                            <span class="col-sm-3">
                                <img src="{{ images.largeImagePath }}" width="100%" /> 
                            </span>
                            <span class="col-sm-3">
                                <img src="{{ images.extraLargeImagePath }}" width="100%" /> 
                            </span>
                            <a class="btn btn-danger btn-xs delProductImage" ng-click="deleteProductImage(images.productImageId)"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </form-element>
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-7">
                            <div class="row">
                                <span class="col-sm-3">
                                    <img ng-show="baseImage" ngf-thumbnail="baseImage" width="50" height="50"> 
                                </span>
                                <span class="col-sm-3">
                                    <img ng-show="thumbImage"  ngf-thumbnail="thumbImage" width="50" height="50">
                                </span>
                                <span class="col-sm-3">
                                    <img ng-show="largeImage" ngf-thumbnail="largeImage" width="50" height="50">
                                </span>
                                <span class="col-sm-3">
                                    <img ng-show="xlargeImage" ngf-thumbnail="xlargeImage" width="50" height="50">
                                </span>
                            </div>
                            <div ng-app="fileUpload" name="form" class="row">
                                <span class="col-sm-3" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="baseImage" name="baseImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                                <span class="col-sm-3" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="thumbImage" name="thumbImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                                <span class="col-sm-3" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="largeImage" name="largeImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                                <span class="col-sm-3" style="padding: 0;">
                                    <div class="btn btn-default fa fa-upload" ngf-select ng-model="xlargeImage" name="xlargeImage" ngf-pattern="'image/*'" ngf-accept="'image/*'"></div>
                                </span>
                            </div>
                            <div class="row" style="padding: 20px;">
                                <button ng-click="uploadProductImage('product')" class="btn btn-default byn-lg" ng-disabled="product_form.$invalid || imgLoading || (!node.productId)">Upload Images</button>
                                <img ng-if="imgLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <form-element label="">
                            <div class="text-right">
                                <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                                <button ng-click="saveProduct(node);"
                                        ng-disabled="product_form.$invalid"
                                        class="btn btn-sm btn-primary"
                                        type="submit">
                                    <i class="ace-icon fa fa-check"></i>Save Product
                                </button>
                                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                            </div>
                        </form-element>
                    </div>
                </form>
            </div>
            <div class="message text-success text-center h3" style="display:none;">
                <span>Saved Successfully...</span>
            </div>
        </div>
        
    </div>
</div>
</div>

