<div class="item-box-layout layout-6">
    <div class="wrapper row">
        <div class="span_3_of_12 col">
            <a href="#/{{tile.layout.layout6.tilesList[0].tileCategory.categoryDetailsURL}}">
                <div class="tall-tile">
                    <div class="wide-tall-tile tile {{tile.layout.layout6.tilesList[0].tileType | lowercase}} {{tile.layout.layout6.tilesList[0].imageBackground}}">
                        <figure>
                            <img alt="" ng-src="{{tile.layout.layout6.tilesList[0].tileCategory.categoryTileImagePath}}">
                        </figure>
                        <div class="detail">
                            <h4>{{tile.layout.layout6.tilesList[0].tileCategory.categoryName}}</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="span_3_of_12 col">
            <a href="#{{tile.layout.layout6.tilesList[1].productTileDetails.productDetailsURL}}">
                <div class="wide-quarter-tile tile {{tile.layout.layout6.tilesList[1].tileType | lowercase}} {{tile.layout.layout6.tilesList[1].imageBackground}}">
                    <figure>
                        <img alt="" ng-src="{{tile.layout.layout6.tilesList[1].productTileDetails.productImage.baseImagePath}}">
                    </figure>
                    <div class="detail">
                        <h4>{{tile.layout.layout6.tilesList[1].productTileDetails.productDescription}}</h4>
                        <div class="priceChooser">
                            <div ng-repeat="(key, priceValue) in tile.layout.layout6.tilesList[1].productTileDetails.productPriceOptions">
                                <span class="price {{priceValue.currencyCode | lowercase}}">
                                    <i class="fa fa-{{priceValue.currencyCode | lowercase}}"></i> 
                                    {{priceValue.price}}
                                </span>
                            </div>
                        </div>
                        <span class="availability">Availability: <span>{{tile.layout.layout6.tilesList[1].productTileDetails.productAvailablility}}</span></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="span_3_of_12 col">
            <a href="#{{tile.layout.layout6.tilesList[2].productTileDetails.productDetailsURL}}">
                <div class="wide-quarter-tile tile {{tile.layout.layout6.tilesList[2].tileType | lowercase}} {{tile.layout.layout6.tilesList[2].imageBackground}}">
                    <figure>
                        <img alt="" ng-src="{{tile.layout.layout6.tilesList[2].productTileDetails.productImage.baseImagePath}}">
                    </figure>
                    <div class="detail">
                        <h4>{{tile.layout.layout6.tilesList[2].productTileDetails.productDescription}}</h4>
                        <div class="priceChooser">
                            <div ng-repeat="(key, priceValue) in tile.layout.layout6.tilesList[2].productTileDetails.productPriceOptions">
                                <span class="price {{priceValue.currencyCode | lowercase}}">
                                    <i class="fa fa-{{priceValue.currencyCode | lowercase}}"></i> 
                                    {{priceValue.price}}
                                </span>
                            </div>
                        </div>
                        <span class="availability">Availability: <span>{{tile.layout.layout6.tilesList[2].productTileDetails.productAvailablility}}</span></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="span_3_of_12 col">
            <a href="#{{tile.layout.layout6.tilesList[3].productTileDetails.productDetailsURL}}">
                <div class="wide-quarter-tile tile {{tile.layout.layout6.tilesList[3].tileType | lowercase}} {{tile.layout.layout6.tilesList[3].imageBackground}}">
                    <figure>
                        <img alt="" ng-src="{{tile.layout.layout6.tilesList[3].productTileDetails.productImage.baseImagePath}}">
                    </figure>
                    <div class="detail">
                        <h4>{{tile.layout.layout6.tilesList[3].productTileDetails.productDescription}}</h4>
                        <div class="priceChooser">
                            <div ng-repeat="(key, priceValue) in tile.layout.layout6.tilesList[3].productTileDetails.productPriceOptions">
                                <span class="price {{priceValue.currencyCode | lowercase}}">
                                    <i class="fa fa-{{priceValue.currencyCode | lowercase}}"></i> 
                                    {{priceValue.price}}
                                </span>
                            </div>
                        </div>
                        <span class="availability">Availability: <span>{{tile.layout.layout6.tilesList[3].productTileDetails.productAvailablility}}</span></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="span_6_of_12 col">
            <a href="#/{{tile.layout.layout6.tilesList[4].tileCategory.categoryDetailsURL}}">
                <div class="wide-half-tile tile {{tile.layout.layout6.tilesList[4].tileType | lowercase}} {{tile.layout.layout6.tilesList[4].imageBackground}}">
                    <figure>
                        <img alt="" ng-src="{{tile.layout.layout6.tilesList[4].tileCategory.categoryTileImagePath}}">
                    </figure>
                    <div class="detail">
                        <h4>{{tile.layout.layout6.tilesList[4].tileCategory.categoryName}}</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="span_3_of_12 col">
            <a href="#{{tile.layout.layout6.tilesList[5].productTileDetails.productDetailsURL}}">
                <div class="wide-quarter-tile tile {{tile.layout.layout6.tilesList[5].tileType | lowercase}} {{tile.layout.layout6.tilesList[5].imageBackground}}">
                    <figure>
                        <img alt="" ng-src="{{tile.layout.layout6.tilesList[5].productTileDetails.productImage.baseImagePath}}">
                    </figure>
                    <div class="detail">
                        <h4>{{tile.layout.layout6.tilesList[5].productTileDetails.productDescription}}</h4>
                        <div class="priceChooser">
                            <div ng-repeat="(key, priceValue) in tile.layout.layout6.tilesList[5].productTileDetails.productPriceOptions">
                                <span class="price {{priceValue.currencyCode | lowercase}}">
                                    <i class="fa fa-{{priceValue.currencyCode | lowercase}}"></i> 
                                    {{priceValue.price}}
                                </span>
                            </div>
                        </div>
                        <span class="availability">Availability: <span>{{tile.layout.layout6.tilesList[5].productTileDetails.productAvailablility}}</span></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>